.shopping__cart__products {
  .product__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    .product__image {
      width: 4em;
      margin-right: 1em;
      margin-bottom: 0;
    }
  }
}
