* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

img {
  display: flex;
  max-width: 100%;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button {
  display: flex;
  padding: 1em;
  border: 1px solid hsla(230, 20%, 85%, 1);
  font: inherit;
  color: inherit;
  margin-bottom: 1em;
}

button {
  background-color: hsla(230, 20%, 95%, 1);
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

label {
  margin-bottom: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
}
